{% extends 'layout.html' %}

{% block content %}
<h2>Sentiment Analysis Project</h2>


<h2 align='center'>กราฟแสดงข้อมูลความพึงพอใจแยกตามแผนก</h2>

<center>
    <iframe title="department" width="1140" height="541" src="https://app.powerbi.com/reportEmbed?reportId=d2c0b31c-791e-426d-ad28-599ab7dc742e&autoAuth=true&ctid=cf81f1df-de59-4c29-91da-a2dfd04aa751&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXNvdXRoLWVhc3QtYXNpYS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
</center>

{% endblock %}


