{% extends 'layout.html' %}

{% block content %}
<h2>Sentiment Analysis Project</h2>
<p>Natchayar Saosuwan</p>



<h2 align='center'>กราฟแสดงข้อมูลความพึงพอใจภาพรวมและด้านต่างๆ</h2>

<center>
    <iframe title="visualize" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=7819f043-c5b1-470f-a9c0-ea8b94559fe6&autoAuth=true&ctid=cf81f1df-de59-4c29-91da-a2dfd04aa751&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXNvdXRoLWVhc3QtYXNpYS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
</center>

{% endblock %}
